<!--Mask-->
<div class="view hm-black-light">
  <div class="full-bg-img flex-center pattern-4">
    <ul>
      <li>
        <h1 class="h1-responsive wow fadeInUp title">
          <strong>Hey, wanna eat something?</strong>
        </h1>
      </li>
      <li>
        <div class="row wow fadeIn" data-wow-delay="0.4s">
          <div class="col-md-3">
            <div class="md-form">
              <input type="text" id="form1" class="form-control">
              <label for="form1">Your city</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="md-form">
              <input type="text" id="form2" class="form-control validate">
              <label for="form2">Street</label>
            </div>
          </div>
          <div class="col-md-2">
            <div class="md-form">
              <input type="text" id="form3" class="form-control validate">
              <label for="form3">House</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="md-form">
              <button class="btn btn-lg btn-danger">Order</button>
            </div>
          </div>
        </div>
      </li>
      <li class="payment">
        <i class="fa fa-cc-visa fa-2x" aria-hidden="true"></i>
        <i class="fa fa-cc-mastercard fa-2x" aria-hidden="true"></i>
        <i class="fa fa-money fa-2x" aria-hidden="true"></i>
      </li>
    </ul>
  </div>
</div>
<!--/.Mask-->